/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';
  
*/

.bodyContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
footer {
    margin-top: auto;
}

